
[submodule "Envi"]
	path = autoplay/vendor/envi
	url = https://github.com/DeinsOne/Envi.git

[submodule "cxxopts"]
	path = autoplay/vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts.git

[submodule "jsoncpp"]
	path = autoplay/vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git

[submodule "valijson"]
	path = autoplay/vendor/valijson
	url = https://github.com/tristanpenman/valijson

[submodule "indicators"]
	path = autoplay/vendor/indicators
	url = https://github.com/p-ranav/indicators.git
